@media(max-width: 991px) {
    .title {
        &_left {
            font-size: 30px;
            text-align: center;
        }
    } 
    .consultation {
        &__descr {
            text-align: center;
        }
            
    }
    .feed-form {
        align-items: center;
    }

}
@media(max-width: 767px) {
    .hidden {
        display: none;
    }
    .header { 
        &__ofc {
            font-size: 10px;
            & span {
                font-size: 14px;
            }
        }

    }
    .button {
        width: 150px;
        height: 30px;
        &_main {
            margin-top: 67px;
            width: 300px;
            height: 50px;
            font-size: 16px;
        }
        &_submit {
            width: 300px;
            height: 50px;
        }
    }
    .promo {
        &__wrapper {
            display: flex;
            align-items: center;
            margin-top: 50px;
        }
    }
    
}

@media(max-width: 575px) {
    .promo {
        padding: 20px 0 15px 0;
        &__header {
            font-size: 23px;
        }
        &__subheader {
            font-size: 20px;
            text-align: center;
        }
        &__icons {
            align-items: center;
            flex-direction: column;
            width: 200px;
        }
        &__icon {
            padding-bottom: 10px;
 
        }
    }
    .button {
        width: 150px;
        height: 20px;
        font-size: 12px;
        &_main {
            margin-top: 30px;
            width: 250px;
            height: 50px;
            font-size: 16px;
        }
        &_submit {
            width: 300px;
            height: 50px;
        }
    }
    .header {
        &__logo {
            & img {
                width: 90%;
            }
        }
        &__phone {
            font-size: 14px;
        }
    }
    .title {
        font-size: 25px;
        &_left {
            font-size: 20px;
        }
    }
    .consultation {
        padding: 50px 0 40px 0;
        min-height: 50px;
        &__descr {
            margin-top: 40px;
            font-size: 17px;
        }
            
    }
}